@charset "UTF-8";
p{
	border:10px solid #000000;
}
p{
	border:10px solid rgb(255,0,0);
}
p{
	border:10px solid rgb(255,50,50);/*rgb颜色共3个子项，每项的值范围0-255，顺序：红/绿/蓝*/
}
p{
	border:10px solid #ff3232;/*16进制颜色：#开始，后边是3位或6位，每位范围0-f，同rgb颜色的三个子项对应，6位每两位对应一个子项*/
}
/*16进制 个位0-f
		3a 转化成十进制 3*16+10=58
		ff 15*16+15=255
		255 十进制转化成十六进制 255/16=15余15 得到 ff
		50 十进制转化成十六进制 50/16=3余2 得到 32
		56 5*10+6=56
		#000000 纯黑
		#ffffff 纯白

		rgb(0,0,0)
		rgb(255,255,255)

		颜色值种类：256*256*256
	*/